.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a3a3a3;
  width: 100vw;
  color: #800080;
  box-sizing: border-box;
  padding: 0.9rem 1.2rem;
  position: relative;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  height: 40px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}

.navbar-right {
  display: block;
}

.nav-links a {
  color: #800080;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar-right a {
  color: #800080;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar-right ul {
  list-style-type: none;
}


.logout-button {
   background-color: #800080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}