form {
    all: unset;
    display: block;
    width: 100%;
    max-width: 650px;
    height: 100%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

form label {
    font-weight: bold;      
    font-size: 16px;        
    color: #333;            
    margin-bottom: 12px;    
    display: block;         
    font-family: inherit;   
}

input[type="text"],[type="password"] {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #800080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3f51b5;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-upload {
    background-color: #800080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top:15px;
}

.image-preview {
    margin-top: 12px;
    text-align: right;
}

.image-preview img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 6px;
    object-fit: cover;
    border: 1px solid #ccc;
}



.create-account {
    padding-top: 20px;
}

.create-account-btn { 
    background-color: #26c951;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.create-post{
    display:flex;
}