.login-form-container {
    display:flex;
    flex-direction: column;
    margin-top: 80px;
}

.login-form label {
    display: block;
}


.login-title {
    margin-top: 50px;
}

.submit-button {
    background-color: #08afa8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-form {
   background-color: #8aed07 !important;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

